<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="ToonVerse" />
        <meta
            property="og:description"
            content="일자별, 플랫폼별 웹툰 조회 웹 애플리케이션"
        />
        <meta
            property="og:image"
            content="https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEORkSMd0t2ewQFqMmiw0r7c8lMaUJKKbNWOUvNdyB76V4gUw5L6FHZNlkLiLiaW6YNP6mwr-AFnDrc52Y3IMpXinJ0w6jQ=w2560-h1240"
        />
        <meta
            property="og:url"
            content="http://toonverse-env-1.eba-hpuq4uvq.ap-northeast-2.elasticbeanstalk.com/"
        />
        <title>ToonVerse</title>
        <script
            type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        ></script>

        <script type="text/javascript" src="/js/commonText.js"></script>

        <link type="text/css" rel="stylesheet" href="/css/main.css" />

        <script>
            $(document).ready(() => {
                const body = $("body");
                body.load("/main");
            });
        </script>
    </head>
    <body></body>
</html>
