<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ToonVerse</title>

        <link rel="stylesheet" href="css/main.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="js/commonText.js"></script>
    </head>
    <body>
        <header>
            <a href="/">
                <img src="image/logo.jpg" alt="mainLogo" class="logo" />
                <h1>ToonVerse</h1>
            </a>
            <nav>
                <ul class="GNB">
                    <li id="webtoon" class="font1">웹툰</li>
                    <li id="board" class="font1">커뮤니티</li>
                </ul>
            </nav>
            <div class="loginContainer">
                <a href="" class="font1">
                    <span id="login">로그인</span>
                </a>
                <!-- <a href="" class="font1"><span>로그아웃</span></a> -->
                <a href="" class="font1"><span>회원가입</span></a>
            </div>
            <div class="bar LNB1">
                <ul class="LNB">
                    <li class="font1 chooseColor" id="week">요일</li>
                    <li class="font1" id="platForm">플랫폼</li>
                </ul>
                <form action="/search" class="searchForm" method="get">
                    <input type="text" placeholder="검색어를 입력해주세요" />
                    <button type="submit">검색</button>
                </form>
            </div>
            <div class="bar LNB2">
                <ul class="week">
                    <li class="font1" id="mon">월</li>
                    <li class="font1" id="tue">화</li>
                    <li class="font1" id="wed">수</li>
                    <li class="font1" id="thu">목</li>
                    <li class="font1" id="fri">금</li>
                    <li class="font1" id="sat">토</li>
                    <li class="font1" id="sun">일</li>
                    <li class="font1" id="finished">완결</li>
                    <li class="font1" id="naverDaily">네이버 Daily+</li>
                </ul>
                <ul class="platForm disNone">
                    <li class="font1" id="naver">네이버</li>
                    <li class="font1" id="kakao">카카오</li>
                </ul>
            </div>
        </header>
        <main id="container"></main>
        <footer>
            <span>로고이미지 : </span>
            <a
                href="https://kr.freepik.com/free-vector/cute-astronaut-catching-moon-cartoon-vector-icon-illustration_16740735.htm#&position=9&from_view=author"
                >작가 catalyststuff</a
            >
            출처 Freepik
        </footer>

        <script>
            $(document).ready(() => {
                const container = $("#container");
                // container.load("/webtoon");

                $(".GNB").on("click", function (item) {
                    container.load(`/${$(item.target).attr("id")}`);
                });
            });
        </script>
    </body>
</html>
