<!DOCTYPE html>
<html lang="ko">
    <head></head>
    <body>
        <div class="bar LNB1">
            <ul class="LNB">
                <li class="font1 chooseColor" id="week">요일</li>
                <li class="font1" id="platForm">플랫폼</li>
            </ul>
            <div class="wrapper_search">
                <input
                    type="text"
                    id="keyword"
                    placeholder="검색어를 입력해주세요"
                />
                <button id="searchBtn">검색</button>
            </div>
        </div>
        <div class="bar LNB2">
            <ul class="week">
                <li class="font1" id="mon">월</li>
                <li class="font1" id="tue">화</li>
                <li class="font1" id="wed">수</li>
                <li class="font1" id="thu">목</li>
                <li class="font1" id="fri">금</li>
                <li class="font1" id="sat">토</li>
                <li class="font1" id="sun">일</li>
                <li class="font1" id="finished">완결</li>
                <li class="font1" id="naverDaily">네이버 Daily+</li>
            </ul>
            <ul class="platForm disNone">
                <li class="font1" id="naver">네이버</li>
                <li class="font1" id="kakao">카카오</li>
            </ul>
        </div>
        <img src="/image/upBtn.png" alt="" class="moveTopBtn" />

        <div class="webtoonContainer"></div>

        <script type="text/javascript" src="/js/webtoon.js"></script>
    </body>
</html>
