<!DOCTYPE html>
<html lang="ko">
    <head></head>
    <script>
        $(document).ready(() => {
            const week = $(".week");
            const platForm = $(".platForm");
            let page = 0;

            $(".LNB").on("click", function (item) {
                switch ($(item.target).attr("id")) {
                    case "week":
                        if (week.hasClass("disNone")) {
                            week.toggleClass("disNone");
                            platForm.toggleClass("disNone");
                        }
                        break;
                    case "platForm":
                        if (platForm.hasClass("disNone")) {
                            platForm.toggleClass("disNone");
                            week.toggleClass("disNone");
                        }
                        break;
                }
            });

            $.each(week.children(), (index, item) => {
                $(item).on("click", aaa(item));
            });

            function aaa(item) {
                page = 0;
                $.ajax({
                    url: `/webtoon/${$(item).attr("id")}/${page}`,
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        const webtoon = data.map(parsingWebtoon);
                        $(".webtoonContainer").html([...webtoon]);
                    },
                });
            }

            $.each(platForm.children(), (index, item) => {
                $(item).on("click", () => {
                    page = 0;
                    $.ajax({
                        url: `/webtoon/${$(item).attr("id")}/${page}`,
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            const webtoon = data.map(parsingWebtoon);
                            $(".webtoonContainer").html([...webtoon]);
                        },
                    });
                });
            });

            function parsingWebtoon(item) {
                let webtoonStr = "";
                webtoonStr += "<div class='webtoonItem'>";
                webtoonStr += "<div>";
                if (item.additional.adult) {
                    webtoonStr += "<img src='image/18.png' class='adult' />";
                }
                webtoonStr += `<img src=${item.img} class='cover' />`;
                if (item.additional.new) {
                    webtoonStr += "<strong class='new'>new</strong>";
                }
                if (item.additional.rest) {
                    webtoonStr += "<strong class='rest'>휴재</strong>";
                }
                webtoonStr += "</div>";
                webtoonStr += "<div class='wrap_title'>";
                if (item.additional.up) {
                    webtoonStr += "<strong class='up'>UP</strong>";
                }
                if (item.title.length > 10) {
                    let subTitle = item.title.slice(0, 9) + "...";
                    webtoonStr += `<strong class='title'>${subTitle}</strong>`;
                } else {
                    webtoonStr += `<strong class='title'>${item.title}</strong>`;
                }
                webtoonStr += "</div>";
                webtoonStr += "</div>";
                return webtoonStr;
            }
        });
    </script>
    <body>
        <div class="webtoonContainer"></div>
    </body>
</html>
