<!DOCTYPE html>
<html lang="ko">
    <head></head>
    <script>
        $(document).ready(() => {
            const week = $(".week");
            const platForm = $(".platForm");
            $("#week").on("click", () => {
                if (week.hasClass("disNone")) {
                    week.toggleClass("disNone");
                    platForm.toggleClass("disNone");
                }
            });
            $("#platForm").on("click", () => {
                if (platForm.hasClass("disNone")) {
                    platForm.toggleClass("disNone");
                    week.toggleClass("disNone");
                }
            });

            week.on("click", function ($this) {
                console.log($this.val);
            });
        });
    </script>
    <body>
        <div class="bar">
            <ul>
                <li class="font1" value="1" id="week">요일</li>
                <li class="font1" value="2" id="platForm">플랫폼</li>
            </ul>
        </div>
        <div class="bar">
            <ul class="week">
                <li class="font1">월</li>
                <li class="font1">화</li>
                <li class="font1">수</li>
                <li class="font1">목</li>
                <li class="font1">금</li>
                <li class="font1">토</li>
                <li class="font1">일</li>
            </ul>
            <ul class="platForm disNone">
                <li class="font1">네이버</li>
                <li class="font1">카카오</li>
                <li class="font1">네이버데일리</li>
            </ul>
        </div>
        <div class="webtoonContainer"></div>
    </body>
</html>
