/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Tilt+Neon&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****************************************
  ****************************************/

* {
    font-family: "Tilt Neon", "IBM Plex Sans KR", sans-serif !important;
}
/* 
body {
    background-color: black;
} */

header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #3aaaff;
}

a {
    text-decoration: none;
}

.font1 {
    font-size: 14px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

header > a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 300px;
}

.GNB {
    position: absolute;
    top: 0px;
    left: 400px;
    height: 100%;
    width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.GNB > li {
    text-align: center;
    padding: 10px;
}

.GNB > li:hover {
    color: #495579;
}

header > div {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 190px;
}

header > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    background-color: #967e76;
    border-radius: 5px;
    width: 60px;
    height: 50%;
}

header > div > a:hover {
    box-shadow: 1px 1px 1px 1px black inset;
}

.logo {
    width: 60px;
    height: 100%;
}

h1 {
    font-size: 30px;
}

#container {
    position: relative;
    top: 60px;
    border-radius: 5px 5px 0px 0px;
    height: calc(100% - 60px);
    width: 100%;
}

.bar {
    width: 100%;
    height: 40px;
    background-color: orange;
}

.bar > ul {
    height: 100%;
    display: flex;
    align-items: center;
}

.bar > ul > li {
    padding: 12px;
}

.bar > ul > li:hover {
    color: #495579;
}

.disNone {
    display: none !important;
}

.webtoonContainer {
    display: flex;
    flex-flow: wrap;
}

.webtoonItem {
    position: relative;
    width: 180px;
    height: 210px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.adult {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
}

.cover {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.new {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: green;
    font-size: 14px;
    border-radius: 5px;
    width: 30px;
    height: 15px;
    text-align: center;
}

.rest {
    position: absolute;
    bottom: 30px;
    left: 0px;
    height: 20px;
    width: 180px;
    background-color: #967e76;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

.wrap_title {
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}

.up {
    width: 30px;
    height: 20px;
    background-color: #e9a178;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.title {
    margin-left: 5px;
}
